
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky; /* Fixa o header no topo sem sair do fluxo */
    top: 0; /* Alinha ao topo */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(0, 155, 225);
}