@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat-Regular.ttf') format('truetype');
}

:root {
    --primary-color: rgb(0, 155, 225);
    --secondary-color: #333;
    --background-color: #0a0f25;
    --text-color: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

#destacar {
    border-bottom: 4px solid var(--primary-color);
    padding-bottom: 5px;
}

main {
    padding: 2rem;
}

.detalhes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    
    /* Limita a largura da área de detalhes */
}

.foto-container {
    flex: 1 1 40%;
    text-align: center;
    max-width: 100%;
    /* Garante que a largura não ultrapasse a largura do container */
    box-sizing: border-box;
    /* Para garantir que a imagem não ultrapasse a borda */
    padding: 0.4rem;
    /* Adiciona espaçamento interno */
}

.foto-detalhe {
    width: 100%;
    height: auto;
    border: 4px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    /* Impede que a imagem fique maior que o container */
}

.detalhes-info {
    flex: 1 1 50%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    box-sizing: border-box;
    /* Para garantir que a largura não ultrapasse o container */
    padding-right: 1rem;
    /* Adiciona um pouco de espaço na margem direita */
}

.detalhes-info h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 0.3rem;
}

.imagens-semelhantes {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.imagens-semelhantes h2 {
    margin-bottom: 1rem;
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 0.3rem;
}

.semelhantes-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 1rem;
}

.semelhantes-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.semelhantes-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

#semelhantesText {
    color: white;
}


footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
    .detalhes-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        /* Reduz a distância entre as colunas */
    }

    .foto-container {
        flex: none;
        width: 90%;
        /* Garante que a imagem tenha uma largura adequada */
        margin: 0 auto;
        padding: 1rem;
    }

    .detalhes-info {
        width: 90%;
        /* Garante que a descrição tenha uma largura adequada */
        margin: 0 auto;
    }

    .semelhantes-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        /* Para telas menores, reduz o número de colunas */
    }
}

@media (max-width: 768px) {
    .foto-container {
        flex: none;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    .detalhes-info {
        width: 100%;
        padding: 1rem;
    }

    .semelhantes-grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        /* Para telas menores, reduz o número de colunas */

    }
}

.btn-download {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px auto 0;
    width: max-content;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-download:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}