:root {
    --primary-color: #007bff;
    --hover-color: #0056b3;
    --background-color: #f4f4f4;
    --item-color: #ffffff;
    --text-color: #333;
    --icon-color: #007bff;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container,
.edit-profile-container {
    background: var(--item-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primary-color);
}

.username {
    margin: 10px 0;
    font-size: 24px;
    color: var(--text-color);
}

.edit-button,
.save-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover,
.save-button:hover {
    background-color: var(--hover-color);
}

.profile-details p {
    font-size: 16px;
    margin: 10px 0;
    color: var(--text-color);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
}

button {
    display: block;
    width: 100%;
}