:root {
    --primary-color: #007bff;
    --hover-color: #0056b3;
    --secondary-color: #f8f9fa;
    --background-color: #0a0f25;
    --text-color: #343a40;
    --danger-color: #ff4d4d; /* Vermelho para banir */
}

/* Estilo Geral */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.photographers-container {
    background-color:   #6e6e6e42;
    ;
    padding: 2rem;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

/* Filtro */
.filter-section {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.sort-select {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
}

.filter-button {
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.filter-button:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

/* Lista de Fotógrafos */
.photographers-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.photographer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
}

/* Foto e Nome */
.photographer-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.photographer-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}

.photographer-name {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Ações */
.action-buttons {
    display: flex;
    gap: 0.5rem;
}

.action-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.ban-button {
    background-color: var(--danger-color);
}

.ban-button:hover {
    background-color: #cc0000;
}

.remove-uploader-button {
    background-color: var(--primary-color);
}

.remove-uploader-button:hover {
    background-color: var(--hover-color);
}
