@font-face {
    font-family: 'Montserrat';
    src: url('fontes/Montserrat-Regular.ttf') format('truetype');
}

:root {
    --primary-color: rgb(0, 155, 225);
    --secondary-color: #333;
    --background-color: #0a0f25;
    --text-color: #ffffff;
    --hover-color: #0056b3;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

/* Container de Uploads */
.upload-status-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Cada item de upload */
.upload-status-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    overflow: hidden; /* Certifique-se que nada seja cortado */
}

.upload-status-item:hover {
    transform: scale(1.02);
}

/* Imagem do upload */
.upload-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho do contêiner sem distorção */
    border-radius: 4px;
    margin-right: 1.5rem;
    display: block; /* Certifica que a imagem será exibida */
}

/* Informações do upload */
.upload-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.upload-info h3 {
    margin: 0;
    color: var(--text-color);
}

.upload-info .upload-date {
    color: var(--primary-color);
    font-size: 0.9rem;
}

.upload-info .upload-status {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Statuses */
.status-pendente {
    color: orange;
}

.status-negado {
    color: red;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .upload-status-container {
        padding: 0 1rem;
    }

    .upload-status-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .upload-thumbnail {
        width: 80px;
        height: 80px;
        margin-bottom: 1rem;
    }

    .upload-info h3 {
        font-size: 1rem;
    }

    .upload-info .upload-date,
    .upload-info .upload-status {
        font-size: 0.9rem;
    }
}
